/* CSS */
#container {
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000000;
    perspective: 600px;
}

#world {
    position: absolute;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}

#square{
    position: absolute;
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    transform: translate3d(100px, 100px, -100px) rotateX(0deg) rotateY(70deg) rotateZ(0deg);
}